<a href="https://colab.research.google.com/github/vigneshjayanth00/Football/blob/master/Fifa_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from IPython.display import Markdown
from scipy import stats

'''Seaborn and Matplotlib Visualization'''
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('bmh')                    
%matplotlib inline
from DataFrameImputer import DataFrameImputer as DFI
'''plotly Visualization'''
import plotly.offline as py
from plotly.offline import iplot, init_notebook_mode
import plotly.graph_objs as go
init_notebook_mode(connected = True)
from sklearn.base import TransformerMixin
%time

from sklearn.impute import KNNImputer as knn_impute

Wall time: 0 ns

In [0]:
#Importing the two datasets
data18=pd.read_csv(r'C:\Users\Home\Documents\Msc DataScience Semester 2\DAV\Datasets\2018_Dataset.csv')
data19=pd.read_csv(r'C:\Users\Home\Documents\Msc DataScience Semester 2\DAV\Datasets\2019_Dataset.csv')
display(print('Dimension of data:', data18.shape))
display(print('Dimension of data:', data19.shape))

C:\Users\Home\Anaconda3\envs\venv\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning:

Columns (23,35) have mixed types. Specify dtype option on import or set low_memory=False.

Dimension of data: (17981, 75)

None

Dimension of data: (18207, 89)

None

In [0]:
data19.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag',
       'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype='object')

In [0]:
data18.columns

Index(['Unnamed: 0', 'Name', 'Age', 'Photo', 'Nationality', 'Flag', 'Overall',
       'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Acceleration', 'Aggression', 'Agility', 'Balance', 'Ball control',
       'Composure', 'Crossing', 'Curve', 'Dribbling', 'Finishing',
       'Free kick accuracy', 'GK diving', 'GK handling', 'GK kicking',
       'GK positioning', 'GK reflexes', 'Heading accuracy', 'Interceptions',
       'Jumping', 'Long passing', 'Long shots', 'Marking', 'Penalties',
       'Positioning', 'Reactions', 'Short passing', 'Shot power',
       'Sliding tackle', 'Sprint speed', 'Stamina', 'Standing tackle',
       'Strength', 'Vision', 'Volleys', 'CAM', 'CB', 'CDM', 'CF', 'CM', 'ID',
       'LAM', 'LB', 'LCB', 'LCM', 'LDM', 'LF', 'LM', 'LS', 'LW', 'LWB',
       'Preferred Positions', 'RAM', 'RB', 'RCB', 'RCM', 'RDM', 'RF', 'RM',
       'RS', 'RW', 'RWB', 'ST'],
      dtype='object')

In [0]:
"""""First we need to identify different columns available between the two datasets as there are some columns present in the 2018
dataset that are not present in the 2019 dataset"""

data18_cols=data18.columns.to_list()
data19_cols=data19.columns.to_list()

Common_Cols = [x for x in data18_cols if x in data19_cols]

In [0]:
## we then remove all uncommon columns by keeping only columnns present in both dataframes
#data18_new = data18[data18.columns.isin(Common_Cols)].reset_index(drop=True)
data18_new = data18[data18.columns.intersection(Common_Cols)].reset_index(drop=True)
data19_new = data19[data19.columns.intersection(Common_Cols)].reset_index(drop=True)

In [0]:
Value=list(data19_new['Wage'])
Wage=list(data19_new['Wage'])

In [0]:
from scipy.stats import wilcoxon
import random

Value_18=random.sample(list(data18_new['Value']), 10000)  
Value_19=random.sample(list(data18_new['Wage']), 10000)
# compare samples
stat, p = wilcoxon(Value_18, Value_19)
print('Statistics=%.3f, p=%.3f' % (stat, p))
# interpret
alpha = 0.05
if p > alpha:
    print('Same distribution (fail to reject H0)')
else:
    print('Different distribution (reject H0)')

UFuncTypeError: ufunc 'subtract' did not contain a loop with signature matching types (dtype('<U6'), dtype('<U6')) -> dtype('<U6')

In [0]:
#Check the two dataframes to see if they have similar columns
data18_cols=data18_new.columns.to_list()
data19_cols=data19_new.columns.to_list()
Common_Cols = [x for x in data18_cols if x in data19_cols]

#Adding the year columns to the data
data18_new['Year']='2018'
data19_new['Year']='2019'

In [0]:
#Merge both datasets

new_df = pd.concat([data19_new, data18_new], ignore_index=True)
## we then remove all columns that are not required
new_df.drop(['Photo','Flag','Club Logo','Unnamed: 0'], axis=1, inplace=True)
#Displaying Data
#display(print('Dimension of data:', new_df.shape))

C:\Users\Home\Anaconda3\envs\venv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning:

Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [0]:
#Stripping the first character to get the currency for reasonable comparison

new_df['Value'] = new_df['Value'].str[1:]
new_df['Wage'] = new_df['Wage'].str[1:]
#Standardizing value in millions and thousands
new_df['Value']=new_df['Value'].replace({'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(int)
new_df['Wage']=new_df['Wage'].replace({'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(int)

In [0]:
#Wilcoxon Test to check the variation in the two datasets- non-parametric statistical test using an p value of 0.05 (alpha)

from scipy.stats import wilcoxon
import random

In [0]:
#Columns Identified as having '+' sign in certain row values and some row decimal values stored as string
#The idea here is to replace all the '+' signs and remove the decimal point from the row values as it could then be converted to numeric

str_cols = ['Acceleration','Aggression','Agility','Balance','CAM','CB','CDM',
'CF','CM','Composure','Crossing','Curve','Dribbling','Finishing','Interceptions',
'Jumping','LAM','LB','LCB','LCM','LDM','LF','LM','LS','LW','LWB','Marking','RAM',
'RB','RCB','RCM','RDM','RF','RM','RS','RW','RWB','Reactions','ST','Stamina','Positioning','Penalties',
'Strength','Vision','Volleys']# specify columns you want to replace

new_df[str_cols] = new_df[str_cols].replace('\+', '', regex=True)

In [0]:
new_df1=new_df.sort_values(['Value'], ascending=[False])
new_df=new_df1

In [0]:
for col in str_cols:
    new_df[col] = new_df[col].str[:2].fillna(0)
    new_df[col] = int(str(new_df[col]))
    new_df[col]= new_df[col].replace(to_replace=0, method='ffill')

NameError: name 'str_cols' is not defined

In [0]:
'''Describing the data'''
new_df.describe()

,Acceleration,Age,Aggression,Agility,Balance,CAM,CB,CDM,CF,CM,...,RWB,Reactions,ST,Special,Stamina,Strength,Value,Vision,Volleys,Wage
count,36188.000000,36188.000000,36188.000000,36188.000000,36188.000000,36188.000000,36188.000000,36188.000000,36188.000000,36188.000000,...,36188.000000,36188.000000,36188.000000,36188.000000,36188.000000,36188.000000,3.618800e+04,36188.000000,36188.000000,36188.000000
mean,64.385901,25.133304,55.794462,63.334227,63.818089,58.542666,55.836880,56.880596,58.255831,57.959738,...,57.456781,61.965679,57.410854,1595.964104,63.069443,65.352879,2.398122e+06,53.135570,43.376147,10633.469658
std,14.989607,4.642314,17.456189,14.774368,14.083879,9.866908,11.520853,9.946738,9.932042,8.854214,...,8.854616,9.148703,9.209093,272.372739,15.919220,12.533440,5.476468e+06,14.402451,17.685842,22560.708250
min,11.000000,16.000000,11.000000,14.000000,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,28.000000,0.000000,728.000000,12.000000,12.000000,0.000000e+00,10.000000,4.000000,0.000000
25%,56.000000,21.000000,43.000000,55.000000,56.000000,53.000000,47.000000,50.000000,52.000000,52.000000,...,51.000000,56.000000,51.000000,1453.000000,56.000000,58.000000,3.000000e+05,43.000000,30.000000,1000.000000
50%,67.000000,25.000000,59.000000,65.000000,66.000000,59.000000,57.000000,58.000000,59.000000,58.000000,...,58.000000,62.000000,58.000000,1634.000000,66.000000,66.000000,6.750000e+05,55.000000,45.000000,4000.000000
75%,75.000000,28.000000,69.000000,74.000000,74.000000,66.000000,65.000000,64.000000,65.000000,64.000000,...,64.000000,68.000000,64.000000,1786.000000,74.000000,74.000000,2.000000e+06,64.000000,57.000000,10000.000000
max,96.000000,47.000000,96.000000,96.000000,96.000000,93.000000,87.000000,87.000000,93.000000,88.000000,...,85.000000,96.000000,91.000000,2346.000000,95.000000,98.000000,1.230000e+08,94.000000,91.000000,565000.000000

In [0]:
#Info about dtype
#new_df.info()
new_df.Age.unique()

array([25, 26, 31, 30, 27, 32, 28, 24, 19, 23, 33, 29, 22, 21, 18, 20, 35,
       34, 17, 36, 37, 39, 38, 40, 16, 45, 44, 41, 42, 43, 47],
      dtype=int64)

In [0]:
new_df.Overall.unique()

array([94, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77,
       76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60,
       59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 93],
      dtype=int64)

In [0]:
A=[]
B=[]

for col in new_df:
    A.append(col)
    B.append(new_df[col].unique())
    
Unique_summary = pd.DataFrame(
    {'Column_Name': A,
     'Unique_Values': B
    })

In [0]:
# return the transpose 
Unique_summary_T = Unique_summary.transpose() 
Unique_summary.to_csv(r'C:\Users\Home\Documents\Msc DataScience Semester 2\DAV\Unique_summary.csv')